[user]
	name = huoguangjin
	email = 352886006@qq.com
[core]
	precomposeUnicode = true
	autocrlf = input
	quotePath = false
	safecrlf = warn
	eol = lf
	pager = delta
[init]
	defaultBranch = main
[i18n]
	commitEncoding = utf-8
	logOutputEncoding = utf-8
[url "git@github.com:"]
	insteadOf = http://github.com/
	insteadOf = https://github.com/
[push]
	default = current
[alias]
	cl = clean -xdf
	d = difftool
	ll = log --graph --format=format:'%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %C(bold cyan)%ad%C(reset) %C(magenta)%an%C(reset) %C(white)%s%C(reset)'
	sm = submodule update --init --recursive
	ud = rebase --committer-date-is-author-date -i
[log]
	date = format-local:%y/%m/%d %H:%M %a
[format]
	pretty = format:%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %C(bold cyan)%ad%C(reset) %C(bold blue)(%ar)%C(reset) %C(magenta)%an%C(reset)%n%C(white)%s%C(reset)
[merge]
	tool = smerge
	conflictStyle = diff3
[diff]
	tool = vimdiff
	colorMoved = default
[difftool]
	prompt = false
	trustExitCode = true
[pull]
	ff = only
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	file-style = 232 bold 184
	line-numbers-left-format = "│{nm:>1}│"
	line-numbers-right-format = "│{np:>1}│"
	line-numbers-left-style = gray
	line-numbers-right-style = gray
	line-numbers-minus-style = red black
	line-numbers-plus-style = green black
	line-numbers-zero-style = "#545474"
	commit-decoration-style = bold box ul
	file-decoration-style = gray overline
	hunk-header-decoration-style = gray box ul
	hunk-header-file-style = bold yellow
	hunk-header-line-number-style = bold yellow
	hunk-header-style = file line-number syntax
