# Linux
*~
.Trash-*

# Windows
*.lnk
[Td]humbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
._*

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
[._]*.un~

.idea/

# Tencent
tx.sh

# Local
.oh-my-zsh
.ipython/**/history.sqlite

# python
__pycache__
*.pyc
